<div class="task-container">
  <mat-card class="task-input">
    <mat-form-field appearance="outline">
      <mat-label>Task Title</mat-label>
      <input matInput [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="description">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addTask()">➕ Add Task</button>
  </mat-card>

  <app-task-list></app-task-list>
</div>
